# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\ISEP\2º Ano\2º Semestre\LAPR4\lei20_21_s4_2di_02\eapli.base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
